/* Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 transparent;
}

/* Chrome, Edge, Safari */
.scrollable::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar */
  height: 6px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* Gray thumb */
  border-radius: 8px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e; /* Darker on hover */
}

.artists-container {
  /* height: 100vh; */
  margin-top: 0.9rem;
  height: calc(100vh - 208px);
  overflow-y: scroll;
  padding: 0 0.5rem;
}
.artist {
  all:unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem;
  cursor: pointer;
}

.artist:hover {
  background-color: #2e2f2f;
  border-radius: 0.5rem;
}

.img-container {
  width: 3rem;
  height: 3rem;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.btn {
  all: unset;
  border: 1px solid #a2a2a2;
  padding: 0.6rem 0.9rem;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #2e2f2f;
}
