.genres {
  display: flex;
  justify-content: start;
  gap: 0.8rem;
  margin-left: 0.4rem;
}

.genre-button {
  all: unset;
  border: 1px solid #a2a2a2;
  padding: 0.5rem;
  background: transparent;
  font-size: 0.8rem;
  padding: 0.5rem 1.1rem;
  border-radius: 0.9rem;
}
