*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #161717;
  color: #ffffffe0;
}

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


