.search-container {
 display: flex;
 align-items: center;
 border-radius: 25px; /* Creates the rounded pill shape */
 padding: 8px 15px;
 background-color: #2e2f2f;
 margin: 1.5rem 0;
}

/* The text input field */
.search-input {
 border: none;       /* Remove default border */
 outline: none;      /* Remove focus outline */
 flex-grow: 1;       /* Make the input take up all available space */
 padding: 5px;
 font-size: 16px;
 background-color: transparent;

}

/* The search button */
.search-button {
 border: none;
 background: none;
 cursor: pointer;
 font-size: 18px;
 color: #555;
 margin-right: 5px;
}
