.album-container {
  display: flex;
  /* border: 1px solid red; */
  width: 620px;
  height: 400px;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.album {
  width: 200px;
  height: 200px;
  border: 1px solid #9d9595;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.album:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.05);
  border: 2px solid rgb(231, 225, 225);
}

.album-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}



.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  margin: 0 auto;
  margin-top: 1rem;
}
.btn {
  all: unset;
  border: 1px solid #a2a2a2;
  padding: 0.6rem 0.9rem;
  border-radius: 0.5rem;
  font-weight: 400;
  transition: all 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #2e2f2f;
}
