.left-side {
  display: flex;
  border: 1px solid #b0b0b070;
  max-width: 450px;
  min-width: 450px;
}

.container {
  padding-top: 1.4rem;
}

.header {
  padding: 0 1.4rem;
  max-width: 350px;
  min-width: 382px;
}

.main-container {
  display: flex;

}

.right-side {
    border: 1px solid #b0b0b070;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin-bottom: 2rem;
}
